[submodule "third_party/voronoi_global_planner"]
	path = third_party/voronoi_global_planner
	url = git@github.com:luisa-mao/voronoi_global_planner.git
[submodule "third_party/ut_jackal"]
	path = third_party/ut_jackal
	url = git@github.com:ut-amrl/ut_jackal.git
[submodule "third_party/amrl_msgs"]
	path = third_party/amrl_msgs
	url = git@github.com:ut-amrl/amrl_msgs.git
