<launch>
  <arg name="rviz_path" default="-d /home/alienwareamrl/Research/BARN_CHALLENGE_2023/rviz/vor_rviz.rviz" />

  <!-- Start the navigation stack -->
  <!-- The configuration files are loaded from jackal_helper -->
  <node pkg="jackal_helper" type="local_spoofer_2023.py" name="local_spoofer" />
  <node pkg="jackal_helper" type="localgoal_2023.py" name="localgoal" output="screen" />
  <!-- <node pkg="jackal_helper" type="hall.py" name="hall" /> -->
  <node pkg="jackal_helper" type="run_enml.sh" name="run_enml" />
  <node pkg="jackal_helper" type="run_graphnav.sh" name="run_graphnav"  output="screen" />
  <node pkg="jackal_helper" type="run_vor.sh" name="run_vor" />

  <!-- <node pkg="rviz" type="rviz" name="rviz" args="$(arg rviz_path)"/> -->
</launch>